header {
    padding: 0.5em;
    color: white;
    background-color: #800000;
    background-image: url("convargo.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px 80px;
    clear: left;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
  }

footer {
    position: absolute;
    padding: 1em;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #800000;
    clear: left;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
  }

body{
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
}

div{
  /*width: 11em;
  border: 1px solid #000000;
  word-wrap: break-word; */
}
