/*header {
    padding: 0.2em;
    color: white;
    background-color: #800000;
    background-image: url("convargo_logo_black.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 300px 60px;
    clear: left;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
  }*/

footer {
    position: absolute;
    padding: 1em;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #800000;
    clear: left;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
  }

body{
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
}

#logo{
    position:absolute;
    top:0px;
    left:10px;
    width:200px;
    height:40px;
    overflow:hidden;

}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li a.active {background-color: auto;}

ul.topnav li {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
